<!DOCTYPE html>
<html class='{{ default_checkout2_layout_class }}' lang='ru' xml:lang='ru' xmlns='http://www.w3.org/1999/xhtml'>
<head>

  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  <meta content='noindex, nofollow' name='robots'>
  <meta content='width=device-width, initial-scale=1.0 user-scalable=no' name='viewport'>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>

  <title>{% yield 'title' %}</title>

  {{ 'checkout2' | global_stylesheet_tag }}

  {% assign custom_checkout_css = 'custom_checkout2.css' | asset_url_if_exists %}

  {% if custom_checkout_css %}
    <link href='{{ custom_checkout_css }}' rel='stylesheet'>
  {% endif %}

  {% include 'styles' %}

  <!-- icons-->
  <link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon.png' | asset_url }}"/>

  <!-- fixes -->
  <script src="{{ 'modernizr-custom.js' | asset_url }}"></script>
  <!--[if IE]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <!--[if lt IE 9]>
  <script src="//css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->

</head>
<body class='adaptive'>

<div class="page-wrapper">

  {% include 'top-toolbar' %}

  <div class="page-inner">

    {% include 'header' %}

    {% include 'collection-menu-horizontal' %}

    {% include 'breadcrumb' %}

    <div class="primary-inner">
      <div class="container">
        <div class='co-section--checkout_content'>
          <div class='co-section--checkout_order co-section--checkout_order_sided'>
            {% yield 'sidebar' %}
            {% yield %}
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'footer' %}

</div>

{% include 'left-toolbar' %}

{% include 'modals' %}

{% include 'scripts' %}

</body>

</html>