{% if collections.size > 0 %}

  <div class="collection-menu-vertical-wrapper">
    <div class="container">
      <ul class="collection-menu-vertical list">

        {% for link_lvl_1 in collections limit: 20 %}

          {% assign link_active = false %}
          {% assign link_dropdown = false %}

          {% if link_lvl_1.current? %} {% assign link_active = true %} {% endif %}
          {% if link_lvl_1.subcollections.size > 0 %} {% assign link_dropdown = true %} {% endif %}

          <li class="list-item menu-item {% if link_active %} is-opened {% endif %} {% if link_dropdown %} collapse {% endif %}">

            <a title="{{ link_lvl_1.title }}" href="{{ link_lvl_1.url }}" class="menu-link">
              <span class="link-text">{{ link_lvl_1.title }}</span>
            </a>

            <a href="#" class="collapse-toggle {% if link_active %} is-active {% endif %}">
              {% if link_dropdown %} <i class="collapse-icon ion ion-ios-arrow-down"></i> {% endif %}
            </a>

            {% if link_dropdown %}

              <ul class="submenu list-vertical collapse-block level-2">

                {% for link_lvl_2 in link_lvl_1.subcollections limit: 20 %}

                  {% assign link_active = false %}
                  {% assign link_dropdown = false %}

                  {% if link_lvl_2.current? %} {% assign link_active = true %} {% endif %}
                  {% if link_lvl_2.subcollections.size > 0 %} {% assign link_dropdown = true %} {% endif %}

                  <li class="list-item menu-item {% if link_active %} is-opened {% endif %} {% if link_dropdown %} collapse {% endif %}">

                    <a title="{{ link_lvl_2.title }}" href="{{ link_lvl_2.url }}" class="menu-link">
                      <span class="link-text">{{ link_lvl_2.title }}</span>
                    </a>

                    <a href="#" class="collapse-toggle {% if link_active %}is-active{% endif %}">
                      {% if link_dropdown %} <i class="collapse-icon ion ion-ios-arrow-down"></i> {% endif %}
                    </a>

                    {% if link_dropdown %}

                      <ul class="submenu list-vertical collapse-block level-3">

                        {% for link_lvl_3 in link_lvl_2.subcollections limit: 20 %}

                          {% assign link_active = false %}
                          {% if link_lvl_3.current? %} {% assign link_active = true %} {% endif %}

                          <li class="list-item menu-item {% if link_active %} active {% endif %}">
                            <a title="{{ link_lvl_3.title }}" href="{{ link_lvl_3.url }}" class="menu-link">
                              <span class="link-text">{{ link_lvl_3.title }}</span>
                            </a>
                          </li>

                        {% endfor %}

                      </ul><!-- /.submenu.level-3 -->

                    {% endif %}

                  </li>

                {% endfor %}

              </ul><!-- /.submenu.level-2 -->

            {% endif %}

          </li>

        {% endfor %}

      </ul><!-- /.collection-menu-horizontal -->
    </div>
  </div><!-- /.collection-menu-horizontal-wrapper -->

{% endif %}
