<form class="collection-order" action="{{ collection.url }}" method="get">

  <div class="select-wrapper">
    <select class="select-field js-filter-trigger" name="order">
      <option value="" disabled selected>{{ messages.label_sort }}</option>
      {{ "price"            | select_option: order, messages.sort_by_price }}
      {{ "descending_price" | select_option: order, messages.sort_by_price_desc }}
      {{ "descending_age"   | select_option: order, messages.sort_by_createdon }}
      {{ "age"              | select_option: order, messages.sort_by_createdon_desc }}
      {{ "title"            | select_option: order, messages.sort_by_title }}
    </select>
  </div>

  <input type="hidden" name="price_min"
         value="{{ price_min }}" {% unless price_min%} disabled {% endunless %}/>
  <input type="hidden" name="price_max"
         value="{{ price_max }}" {% unless price_max %} disabled {% endunless %}/>

  {% if page_size %}
    <input type="hidden" name="page_size" value="{{ page_size }}"/>
  {% endif %}

  {% if language.not_default? %}
    <input type="hidden" name="lang" value="{{ language.locale }}"/>
  {% endif %}

  {% if search.query != '' %}
    <input type="hidden" name="q" value="{{ search.query }}"/>
  {% endif %}

  {% for property in collection.properties %}
    {% for characteristic in property.characteristics %}
      {% if characteristic.current? %}
        <input
          type="hidden"
          value="{{ characteristic.id }}"
          name="characteristics[]"
          id="{{ characteristic.id }}"
        />
      {% endif %}
    {% endfor %}
  {% endfor %}

  {% for option in collection.options %}
    {% for value in option.values %}
      {% if value.selected %}
        <input
          type="hidden"
          value="{{ value.id }}"
          {% if value.selected %}checked{% endif %}
          name="options[{{ option.id }}][]"
          id="{{ value.id }}"
        />
      {% endif %}
    {% endfor %}
  {% endfor %}

</form><!-- /.collection-order -->
