<header>
  <div class="nav">
    <a href="#" class="nav__trigger">
        <div class="bars"></div>
    </a>

    <div class="nav__content">
        <nav class="nav__list">
            <ul>
                <li class="nav__item"><a href="#">Home</a></li>
                <li class="nav__item"><a href="#">About</a></li>
                <li class="nav__item"><a href="#">Team</a></li>
                <li class="nav__item"><a href="#">Contact</a></li>
            </ul>
        </nav>
  <div class="content-wrapper container fhg-content">
    <div class="row flex-between flex-center flex-middle">
    <div class="header-block logotype-wrapper cell-5 cell-6-md cell-12-sm ">
      <div class="logotype text-center-sm">
        {% assign logotype_image = 'logotype.jpg' | asset_url_if_exists %}
        <h1 class="visually-hidden">Творческая мастерская Юлии Смирновой. Продажа украшений и обучение шелковой флористике</h1>
          <a title="{{ account.title }}" href="/" class="logotype-link">
                      {% if settings.logotype_type == 'image' and logotype_image %}
            <img src="{{ logotype_image }}" class="logotype-image" alt="{{ account.title }}" title="{{ account.title }}" />
          {% else %}
            <span class="logotype-text">{{ account.title }}</span>
          {% endif %}
          </a>
      </div>
    </div>
    <!--logotype-->
    <div class="header-block js-contacts-header cell-4 hidden-md">
      <div class="phone text-left text-center-sm">
        {% case settings.phone %}
          {% when 'from_settings' %}
              <a href="tel:{{ account.phone | strip_html }}" class="contact-link tel"> {{ account.phone | strip_html | editable }}</a>
          {% when 'edited_block' %}
            <span class="">
              {{ blocks.phone.content | editable }}
            </span>
        {% endcase %}
      </div>
      <div class="email text-left flex-center-xs hidden-md">
        {% case settings.email %}
          {% when 'from_settings' %}
            <a href="mailto:{{ account.email | strip_html }}" class="contact-link email"> {{ account.email | strip_html | editable }}</a>
          {% when 'edited_block' %}
            <span class="">
              {{ blocks.email.content | editable }}
            </span>
        {% endcase %}
      </div>
    </div>
    <!--iconpack-->
    <div class="top-menu-icons-block flex-first-sm">




      <div class="contacts-top-menu hidden shown-md">
        {% unless settings.phone == 'hidden' and settings.email == 'hidden'  %}
          <button type="button" class="contacts-icon js-open-contacts"></button>
        {% endunless %}
        <div class="contacts-top-menu-block cell-12 hidden">
          <div class="header-block js-contacts-header cell-">
            <div class="phone text-left ">
              {% case settings.phone %}
                {% when 'from_settings' %}
                  <a href="tel:{{ account.phone | strip_html }}" class="contact-link tel">
                    {{ account.phone | strip_html | editable }}
                  </a>
                {% when 'edited_block' %}
                  <span class="">
                    {{ blocks.phone.content | editable }}
                  </span>
              {% endcase %}
            </div>
            <div class="email text-left flex-center-xs ">
              {% case settings.email %}
                {% when 'from_settings' %}
                  <a href="mailto:{{ account.email | strip_html }}" class="contact-link email">
                     {{ account.email | strip_html | editable }}
                  </a>
                {% when 'edited_block' %}
                  <span class="">
                    {{ blocks.email.content | editable }}
                  </span>
              {% endcase %}
            </div>
          </div>

        </div>
      </div>

      <div class="search">
        <button type="button" class="top-panel-open-search button js-open-search-panel shown-sm"></button>
      </div>

      <div class="shopcart-widget-wrapper cell- ">
        {% include "cart_widget", block_class: 'in-top-panel' %}
      </div>

    </div>
    <div class="top-menu-wrapper cell- hidden shown-sm">
      <button type="button" class="toggle-button top-panel-open-sidebar button "></button>
    </div>



      </div>
  </div>






      <div class="top-menu-wrapper cell-12 cell-10-md hide-sm">
        {% include "menu", source_type: 'menu', source_handle: 'main-menu', menu_class: 'top-menu' %}
      </div>











</div>
</header>
