<div class="main-toolbar hide-sm">
  <div class="main-toolbar-inner container">
    <ul class="main-menu list">
      {% for link in linklists.main-menu.links limit:10 %}
        <li class="menu-item list-item">
          <a href="{{ link.url }}" class="menu-link" title="{{ link.title }}">
            {{ link.title }}
          </a>
        </li>
      {% endfor %}
    </ul><!-- /.main-menu -->
  </div>
</div><!-- /.main-toolbar -->

<header class="main-header">
  <div class="container">
    <div class="row middle-xl">

      <div class="contacts cell-xl-4 text-left-xl hidden-sm">

        {% case settings.phone %}
        {% when 'from_settings' %}
        <div class="phone"><a href="tel:{{ account.phone }}">{{ account.phone | editable }}</a></div>
        {% when 'edited_block' %}
        <div class="phone">{{ blocks.phone.content | editable }}</div>
        {% endcase %}

        {% case settings.email %}
        {% when 'from_settings' %}
        <div class="email"><a href="mailto:{{ account.email }}">{{ account.email | editable }}</a></div>
        {% when 'edited_block' %}
        <div class="email">{{ blocks.email.content | editable }}</div>
        {% endcase %}

      </div><!-- /.contacts -->

      <div class="logotype cell-xl-4 text-center-xl cell-sm-12">

        {% if settings.logotype_type == 'image' %}

          <a title="{{ account.title }}" href="/" class="logotype-link">
            <img src="{{ 'logotype.jpg' | asset_url }}" class="logotype-image" alt="{{ account.title }}" title="{{ account.title }}"/>
          </a>

        {% else %}

          <a title="{{ account.title }}" href="/" class="logotype-link">
            <span class="logotype-text">{{ account.title | editable }}</span>
          </a>

        {% endif %}

      </div><!-- /.logotype -->

      <div class="user-toolbar cell-xl-4 text-right-xl hidden-sm">

        <div class="search-widget dropdown">

          <button class="search-trigger button button-circle is-gray dropdown-toggle js-toggle" data-target="parent">
            <i class="icon search-icon ion-ios-search"></i>
          </button>

          <form action="/search" method="get" class="search-widget-form dropdown-block">

            <input type="hidden" name="lang" value="{{ language.locale }}">

            <input id="search-widget-input" class="input-field search-input" type="text" placeholder="{{ messages.search_title }}" name="q" value="{% if search.query != empty %}{{ search.query }}{% endif %}"/>

            <button class="button button-circle is-primary search-button" type="submit">
              <i class="icon search-icon ion-ios-search"></i>
            </button>

          </form>

        </div><!-- /.search-widget -->

        {% unless settings.product_compare_hide %}
        <a title="Сравнение" class="compare-button button button-circle is-gray" href="/compares">
          <i class="icon compare-icon ion-stats-bars"></i>
          <span class="compare-counter js-compare-amount"></span>
        </a><!-- /.compare-button -->
        {% endunless %}

        <div class="shopcart-widget">
          <a title="Корзина" href="{{ cart_url }}" class="shopcart-link button button-circle is-primary">
            <i class="icon shopcart-icon ion-ios-cart-outline"></i>
            <span class="shopcart-counter js-shopcart-amount"></span>
          </a>
        </div><!-- /.shopcart-widget -->

      </div><!-- /.user-toolbar -->

    </div>
  </div>
</header>