<div class="card-inner">

  <div class="product-photo">
    {% if product.images.size > 0 %}
      <a href="{{ product.url }}" title='{{ product.title | strip_html }}' class="product-link {% unless settings.cards_crop_off %}with-object-fit{% endunless %}">
        <img src="{{ product.images.first.large_url }}" alt="{{ product.images.first.title | strip_html }}"
             title="{{ product.images.first.title | strip_html }}" class="product-image">
      </a>
    {% else %}
      <a href="{{ product.url }}" title='{{ product.title | strip_html }}' class="product-link {% unless settings.cards_crop_off %}with-object-fit{% endunless %}">
        <img src="{{ 'no_image.png' | asset_url }}" alt="{{ product.title | strip_html }}"
             title="{{ product.title | strip_html }}" class="product-image">
      </a>
    {% endif %}

    {% include 'product-labels' %}

  </div><!-- /.product-photo -->

  <div class="product-caption">

    <div class="product-title">
      <a href="{{ product.url }}" class="product-link" title='{{ product.url }}'>

        {{ product.title | strip_html | editable }}

        {% if bundle_component %}
          {% if bundle_component.variant.title != '' %}
            ({{ bundle_component.variant.title }})
          {% endif %}
        {% endif %}

      </a>
    </div>

    <div class="product-prices">

      {% if bundle_component %}

        {% if bundle_component.is_free %}
          <span class="price">{{ messages.label_is_free }}</span>
        {% else %}

          <span class="price">{{ bundle_component.variant.price | money }}</span>

          {% if bundle_component.variant.old_price %}
            {% if bundle_component.variant.old_price > bundle_component.variant.price %}
              <span class="old-price">{{ bundle_component.variant.old_price | money }}</span>
            {% endif %}
          {% endif %}

        {% endif %}

      {% else %}

        {% if max_discount < discount %}{% assign max_discount = discount %}{% endif %}

        {% if product.price_varies? %}

          <span class="price">
          {{ messages.label_from }}
            {{ product.price_min | money }}
        </span>

          {% assign old_price_min = 0 %}
          {% for variant in product.variants %}
            {% if variant.price == product.price_min %}
              {% if variant.old_price != 0 and variant.price < variant.old_price %}
                {% if old_price_min == 0 %}
                  {% assign old_price_min = variant.old_price %}
                {% else %}
                  {% if old_price_min > variant.old_price %}
                    {% assign old_price_min = variant.old_price %}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endfor %}

          {% if old_price_min != 0 %}
            <span class="old-price">{{ old_price_min | money }}</span>
          {% endif %}

        {% else %}

          <span class="price">
          {{ product.price | money }}
        </span>

          {% if product.old_price %}
            {% if product.old_price > product.price %}
              <span class="old-price">{{ product.old_price | money }}</span>
            {% endif %}
          {% endif %}

        {% endif %}

      {% endif %}

    </div><!-- /.product-prices -->

  </div><!-- /.product-caption -->

</div><!-- /.card-inner -->
