{% if data.blocks.size > 0 %}
  <div class="promo-slider-wrapper">
    <div class="promo-slider js-promo-slider swiper-container">

      <div class="swiper-wrapper">

        {% for slide in data.blocks %}

          <div class="promo-slide swiper-slide">
            {% if slide.link != '' %}
              <a class="slide-inner" href="{{ slide.link }}" title="{{ slide.description }}">
            {% else %}
              <span class="slide-inner">
            {% endif %}

              {% if slide.image %}
                <img class="slide-image" src="{{ slide.image }}" title="{{ slide.description }}" alt="{{ slide.description }}" />
              {% endif %}

              {% if slide.description and slide.description != '' %}
                <div class="slide-caption">
                  <div class="slide-title">{{ slide.description | editable }}</div>
                </div>
              {% endif %}

            {% if slide.link != '' %}
              </a>
            {% else %}
              </span>
            {% endif %}
          </div><!-- /.promo-slide -->

        {% endfor %}

      </div>

      {% if data.blocks.size > 1 %}

        <button class="promo-slider-nav promo-slider-next js-promo-slider-next">
          <i class="icon ion-chevron-right"></i>
        </button>

        <button class="promo-slider-nav promo-slider-prev js-promo-slider-prev">
          <i class="icon ion-chevron-left"></i>
        </button>

        <div class="promo-slider-pagination js-promo-slider-pagination"></div>

      {% endif %}

    </div><!-- /.promo-slider -->
  </div><!-- /.promo-slider-wrapper -->
{% endif %}
